section.home-2#home-2
	.home-2-main(class="flex flex-col-reverse md:flex-row")
		.col-left(class="xl:rem:w-[940px] lg:w-5/12 w-full")
			.image 
				a(href="#" class="img-ratio zoom-img")
					+PugImg() 
		.col-right(class="xl:w-[calc(100%-48.958333333333336rem)] lg:w-7/12 lg:py-20 py-10 xl:rem:pl-[120px] xl:rem:pr-[260px] w-full pl-10 pr-10 flex flex-col justify-center")
			.content(class="")
				h3(class="title-40 mb-6") Hành trình của CHAGEE
				.format-content(class="mb-base")
					p CHAGEE – thương hiệu trà sữa tươi trứ danh toàn cầu – đã chính thức đặt chân đến Việt Nam, đánh dấu một cột mốc mới trên hành trình lan tỏa nghệ thuật trà hiện đại. Được chắt lọc từ tinh hoa văn hoá trà Á Đông và kết hợp với công nghệ pha chế tiên tiến, CHAGEE mang đến trải nghiệm thưởng trà hoàn toàn khác biệt – nơi hương vị thuần khiết, nguyên bản được tôn vinh qua từng ly trà.
					p Không chỉ là thức uống, CHAGEE là sự kết hợp hài hòa giữa truyền thống và đương đại, giữa kỹ thuật và cảm xúc. Với sứ mệnh lan tỏa giá trị của trà thượng hạng đến gần hơn với người Việt, chúng tôi cam kết mang đến không gian thưởng trà đẳng cấp, dịch vụ tận tâm và những trải nghiệm xứng tầm cho thế hệ yêu trà hiện đại.
				+btnPrimary()