section.home-7(class="section-py")
	.container 
		.home-7-main(class="flex flex-col md:flex-row gap-5")
			.col-left(class="xl:rem:w-[920px] lg:w-2/4 w-full")
				.image 
					a(href="#" class="img-ratio lg:ratio:pt-[520_920] rounded-lg zoom-img") 
						+PugImg()
			.col-right(class="xl:w-[calc(100%-47.91666666666667rem-1.04167rem)] lg:w-2/4 px-10 bg-bg1 flex flex-col justify-center rounded-lg py-10 ")
				.content(class="md:py-10 lg:py-0 flex flex-col gap-base")
					h2(class="title-40") Hệ thống cửa hàng
					.content-contact 
						h3(class="text-2xl font-bold text-Primary-S1 mb-3") CHAGEE Việt Nam
						.address(class="flex gap-3 text-Neutral-800")
							i.fa-solid.fa-location-dot
							a(href="#") 131 Đ. Đồng Khởi, Bến Nghé, Quận 1, Hồ Chí Minh, Việt Nam
					.home-7-btn 
						+btnPrimary()