section.section-page-recruitment-detail(class="section-py xl:rem:pt-[118px]")
	.container 
		.row 
			.col(class="lg:w-9/12")
				.job-title
					h1(class="title-40 font-bold text-Primary-S1 mb-3") Nhân viên pha chế (Senior Tea Barista)
				.job-infor(class="flex gap-3 md:justify-between md:items-center pb-3 border-b border-Primary-S1 mb-base flex-wrap md:flex-row flex-col")
					.flex.items-center.gap-3(class="")
						ul(class="list-date")
							li(class="flex items-center text-Neutral-800")
								i.fa-light.fa-calendar(class="text-xl")
								span Ngày đăng:30/05/2025
							li(class="flex items-center text-Neutral-800")
								i.fa-light.fa-calendar(class="text-xl")
								span Hạn nộp:30/05/2025
					.flex.items-center(class='gap-5')
						.bookmark
							p Lưu
							i.fa-light.fa-bookmark
						ul.social(class="flex items-center gap-5")
							li 
								a(href="" class="flex-center sq-10 rounded-full border-Neutral-500-main text-Neutral-500-main border hover:bg-Primary-3 hover:text-white hover:border-Primary-3") 
									i.fa-brands.fa-facebook-f
							li 
								a(href="" class="flex-center sq-10 rounded-full border-Neutral-500-main text-Neutral-500-main border hover:bg-Primary-3 hover:text-white hover:border-Primary-3") 
									i.fa-brands.fa-linkedin-in
				.flex.flex-col.gap-base
					.job-jd(class="bg-Neutral-50 p-5")
						ul
							li(class="flex items-center gap-3 mb-3")
								.title(class="flex items-center gap-3")
									i.fa-light.fa-user(class="text-xl")
								.wrap 
									.name Số lượng:
									.value 02
							li(class="flex items-center gap-3 mb-3")
								.title(class="flex items-center gap-3")
									i.fa-light.fa-dollar-sign(class="text-xl")
								.wrap
									.name Mức lương:
									.value 7.000.000 vnđ
							li(class="flex items-center gap-3 mb-3")
								.title(class="flex items-center gap-3")
									i.fa-light.fa-location-dot(class="text-xl")
								.wrap
									.name Địa điểm làm việc:
									.value Quận 1, TP.HCM
							li(class="flex items-center gap-3 mb-3")
								.title(class="flex items-center gap-3")
									i.fa-light.fa-briefcase(class="text-xl")
								.wrap
									.name Chế độ làm việc:
									.value Hybrid/ Onsite/ Toàn thời gian
							li(class="flex items-center gap-3 mb-3")
								.title(class="flex items-center gap-3")
									i.fa-light.fa-gem(class="text-xl")
								.wrap
									.name Ưu đãi sản phẩm:
									.value 02
							li(class="flex items-center gap-3 mb-3")
								.title(class="flex items-center gap-3")
									i.fa-light.fa-dollar-sign(class="text-xl")
								.wrap
									.name Thưởng doanh số:
									.value 10%
							li(class="flex items-center gap-3 mb-3")
								.title(class="flex items-center gap-3")
									i.fa-light.fa-timer(class="text-xl")
								.wrap
									.name Thời gian làm việc:
									.value 09:00 - 18:00, Thứ 2 - Thứ 6
							li(class="flex items-center gap-3 mb-3")
								.title(class="flex items-center gap-3")
									i.fa-light.fa-handshake(class="text-xl")
								.wrap
									.name Cơ hội thăng tiến:
									.value Rõ ràng
							li(class="flex items-center gap-3 mb-3")
								.title(class="flex items-center gap-3")
									i.fa-light.fa-people-group(class="text-xl")
								.wrap
									.name Chương trình gắn kết nội bộ:
									.value Team Building hằng năm
							
							li(class="flex items-center gap-3 mb-3")
								.title(class="flex items-center gap-3")
									i.fa-light.fa-bookmark(class="text-xl")
								.wrap
									.name Cấp bậc:
									.value Nhân viên
							li(class="flex items-center gap-3 mb-3")
								.title(class="flex items-center gap-3")
									i.fa-light.fa-kit-medical(class="text-xl")
								.wrap
									.name Khám sức khỏe:
									.value Định kỳ hàng năm
					.job-content 
						.title Mô tả công việc
						.content.format-content
							h3 Bạn sẽ chịu trách nhiệm:
							p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt esse minus natus exercitationem! Maiores iure dolores nobis sequi odit aspernatur quod sed obcaecati debitis voluptatum! Pariatur temporibus velit aperiam autem!
							ul 
								li Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, error quo? Veniam sapiente id ab quae quod vitae, placeat amet doloribus atque earum aliquid magnam saepe enim qui ea voluptatem.
								li Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, error quo? Veniam sapiente id ab quae quod vitae, placeat amet doloribus atque earum aliquid magnam saepe enim qui ea voluptatem.
					.job-content 
						.title Mô tả công việc
						.content.format-content
							h3 Bạn sẽ chịu trách nhiệm:
							p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt esse minus natus exercitationem! Maiores iure dolores nobis sequi odit aspernatur quod sed obcaecati debitis voluptatum! Pariatur temporibus velit aperiam autem!
							ul 
								li Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, error quo? Veniam sapiente id ab quae quod vitae, placeat amet doloribus atque earum aliquid magnam saepe enim qui ea voluptatem.
								li Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, error quo? Veniam sapiente id ab quae quod vitae, placeat amet doloribus atque earum aliquid magnam saepe enim qui ea voluptatem.
					.flex
						a(href="" class="btn btn-btn-primary secondary ") 
							span Ứng tuyển ngay
							.btn-icon.btn-lined
								span.icon.to-right
									i.fa-regular.fa-arrow-right
									i.fa-regular.fa-arrow-right
			.col(class="lg:w-3/12")
				.flex.flex-col.gap-base
					.box-policy(class="bg-Primary-S2 p-6 rem:rounded-[20px] flex flex-col gap-5")
						.text-2xl(class="font-bold text-Primary-S1") Lưu ý
						.format-content
							ul 
								li CHAGEE không thu bất kỳ khoản phí nào trong suốt quá trình tuyển dụng.
								li CHAGEE không thu bất kỳ khoản phí nào trong suốt quá trình tuyển dụng.
							p(style="color: red")
								strong Ứng viên vui lòng liên hệ trực tiếp Hotline / Email tuyển dụng chính thức của CHAGEE Việt Nam để xác minh thông tin.
					.box-form
						.mb-base(class="text-2xl font-bold text-Primary-S1") Tìm việc làm
						.wrap-form.form-style-general(class="flex flex-col gap-5 shadow-Dropshadow-Light py-6 px-5 rem:rounded-b-[40px]")
							+inputText('Tìm kiếm')
							+inputSelect('Vị trí công việc', label=true)
							+inputSelect('Tỉnh/Thành phố', label=true)
							+inputSelect('Quận/Huyện', label=true)
							+inputSelect('Hình thức làm việc', label=true)
							+buttonSubmit('Tìm kiếm',)
					.box-other-job(class="rounded-xl bg-Neutral-50 p-5")
						.title(class='text-2xl font-bold text-Primary-S1 pb-3 border-b border-Primary-S1 mb-3 md:mb-6') Vị trí khác
						ul.list-other-job
							-for(i=0;i<3;i++)
								li 
									.title(class="mb-3 font-bold text-lg text-Primary-S1") Nhân viên phục vụ
									ul.list-infor(class="text-Neutral-800")
										li.quantity
											i.fa-light.fa-user
											span.text-sm 50 lượng: 2
										li.location
											i.fa-light.fa-location-dot
											span.text-sm Quận 1, TP.HCM
										li.expiration
											i.fa-light.fa-calendar
											span.text-sm Hạn nộp: 30/06/2025





