section.home-8(setBackground="./img/bg-contact.png" class="")
	.home-8-content(class="xl:rem:w-[1344px] w-full")
		.wrap(class="py-6 rounded-lg w-full lg:rem:h-[640px] h-auto lg:rem:pl-[260px] pl-10 flex flex-col justify-center relative z-20")
			h2(class="title-40 !text-Neutral-White mb-6") 
				| Một bước tới 
				br
				| hương vị đậm sâu
			.format-content(class="text-Neutral-White")
				p 
					| Kết nối với Chagee để cùng lan toả hương vị và 
					br
					| giá trị tinh tế.
			.home-8-btn(class="mt-base")
				a(href="#" class="btn-btn-primary white inline-flex items-center group")
					span Liên hệ với chúng tôi
					.btn-icon(class="btn-lined")
						span(class="icon to-right") 
							i.fa-regular.fa-arrow-right
							i.fa-regular.fa-arrow-right