.footer
	.footer-list
		display: grid
		grid-template-columns: 1.8fr 6.8fr 2.2fr
		gap: 80px
		@media (max-width: 1279.98px)
			gap: 40px
		@media (max-width: 767.98px)
			@apply grid-cols-1
		
		ul.footer-social-link 
			@apply flex items-center gap-3
			li
				a
					@apply w-10 h-10 inline-flex items-center justify-center rounded-full
					@apply border border-Neutral-500-main
					i
						@apply text-Neutral-500-main font-normal
		ul.footer-nav 
			@apply flex items-center justify-between

			@media (max-width: 1279.98px)
				@apply flex-wrap gap-4 justify-start
			@media (max-width: 767.98px)
				@apply flex-col items-start
			li
				a
					@apply rem:text-[16px] font-bold text-Neutral-950 hover:text-Primary-3   overflow-hidden inline-block
					span
						transition: transform 500ms
						@apply inline-block relative rem:text-[16px] 
						&::after
							content: attr(data-hover)
							@apply absolute top-full left-0 translate-y-0  rem:text-[16px] 
					&:hover
						span
							@apply lg:-translate-y-full
		
	
		.footer-column
			&:nth-child(2)
				
				@apply relative
				&::before
					
					content: ""
					@apply absolute top-0 bottom-0 right-[-2.2rem] w-[1px] bg-Neutral-300
			@media (max-width: 767.98px)
				&:nth-child(2)
					&::before					
						content: none
					
		
		.footer-contact
			@apply flex flex-col justify-between h-full
			@media (max-width: 767.98px)
				@apply gap-3
			.item
				@apply flex flex-col gap-1 text-Neutral-950
				span
					@apply text-lg font-bold text-Neutral-950
				a
					@apply font-normal
			.footer-email
				@apply w-full
				.form-group
					@apply relative h-10
					input
						@apply w-full py-2 px-3 bg-Neutral-100 text-Neutral-300
						@apply text-sm font-medium h-full
					.form-submit 
						@apply absolute top-0 right-0 
						button
							@apply w-10 h-10 bg-Primary-3 inline-flex items-center justify-center text-Neutral-White
	.footer-bottom
		.footer-bottom-main
			@media (max-width: 767.98px)
				@apply flex-col
.social-fixed
	ul
		li
			a
				@apply w-12 h-12 rounded-full bg-Primary-3 text-Neutral-White inline-flex items-center justify-center text-2xl hover:bg-[#C50100]