footer.footer
	.footer-top(class="lg:py-15 py-10 bg-Neutral-50")
		.container 
			.footer-list
				.footer-column 
					.footer-logo(class="rem:w-[131px]") 
						a(href="#" class="img-ratio ratio:pt-[104_131]")
							img(src="./img/logo-footer.png", alt="") 
					.footer-social(class="rem:mt-[58px]")
						.text(class="text-lg font-bold text-Neutral-950 mb-3") Theo dõi chúng tôi
						ul.footer-social-link 
							li 
								a(href="#")
									i.fa-brands.fa-facebook-f
							li 
								a(href="#")
									i.fa-brands.fa-tiktok
							li 
								a(href="#")
									i.fa-brands.fa-instagram
							li 
								a(href="#")
									i.fa-brands.fa-linkedin-in
				.footer-column 
					.footer-menu 
						ul.footer-nav 							
							li 
								a(href="./home.html") 
									span(data-hover="VỀ CHÚNG TÔI") VỀ CHÚNG TÔI
							li 
								a(href="./home.html") 
									span(data-hover="LÀM VIỆC TẠI CHAGEE") LÀM VIỆC TẠI CHAGEE
							li 
								a(href="./home.html") 
									span(data-hover="CƠ HỘI NGHỀ NGHIỆP") CƠ HỘI NGHỀ NGHIỆP
							li 
								a(href="./home.html") 
									span(data-hover="HỆ THỐNG CỬA HÀNG") HỆ THỐNG CỬA HÀNG
							li 
								a(href="./home.html") 
									span(data-hover="LIÊN HỆ") LIÊN HỆ
					.footer-about(class="lg:rem:mt-[118px] mt-10")
						h3(class="text-32 font-bold text-Neutral-950 mb-3") Về CHAGEE
						.desc(class="text-Neutral-950 font-normal") Thương hiệu trà sữa tươi trứ danh toàn cầu, đã chính thức đặt chân đến Việt Nam, mang theo sứ mệnh lan tỏa hương vị trà hảo hạng và trải nghiệm độc đáo đến những người yêu trà Việt.
				.footer-column 
					.footer-contact
						.item 
							span Hotline:
							a(href="#") 099 242 6534
						.item 
							span Hotline:
							a(href="#") 099 242 6534
						.footer-email 
							form(action="")
								.form-group 
									input(type="text" placeholder="Địa chỉ Email") 
									.form-submit 
										button 
											i.fa-solid.fa-paper-plane-top
	.footer-bottom(class="bg-Primary-3 py-2")
		.container 
			.footer-bottom-main(class="flex items-center justify-between text-Neutral-White")
				.footer-copyright © 2025 CHAGEE VIỆT NAM. All Rights Reserved.
				.footer-link 
					a(href="#") Chính sách người dùng 
.social-fixed(class="fixed overflow-hidden right-5 rem:bottom-[100px]  flex  flex-col z-40")
	ul 
		li 	
			a.button-to-top(href="#") 
				.icon
					i.fa-duotone.fa-regular.fa-arrow-up-to-line

	
#popup-form.popup-form(style="display: none;" data-fancybox-modal)
	.popup-content 
		.popup-main(class="flex flex-col md:flex-row")
			.col-left(class="md:rem:w-[418px] w-full")
				.image 
					a(href="#" class="img-ratio ratio:pt-[416_418] lozad rounded-tl-lg rounded-bl-lg")
						img(src="./img/1.jpg", alt="") 
			.col-right(class="md:w-[calc(100%-21.770833333333336rem)] w-full")
				h3(class="text-32 text-Primary-S1 font-bold mb-base") Đăng ký thành viên
				form(action="")
					.form-list(class="grid grid-cols-2 gap-4 max-md:grid-cols-1")
						.form-group
							input(type="text" placeholder="Họ và tên")
						.form-group
							input(type="text" placeholder="Số điện thoại")
						.form-group
							input(type="text" placeholder="Địa chỉ")
						.form-group
							input(type="text" placeholder="Email")

						.form-group(class="col-span-2")
							input(type="text" placeholder="Nội dung")
					.form-submit
						a(href="#" class="btn-btn-primary secondary inline-flex items-center group")
							span Tìm hiểu thêm
							.btn-icon(class="btn-lined")
								span(class="icon to-right") 
									i.fa-regular.fa-arrow-right
									i.fa-regular.fa-arrow-right