section.home-4(class="section-py bg-Neutral-50")
	.container 
		.home-4-main(class="flex flex-col md:flex-row items-center xl:rem:gap-[120px] lg:gap-20 gap-10")
			.col-left(class="xl:rem:w-[600px] lg:w-[30rem] md:w-2/4 w-full")
				h2(class="title-40 mb-6") Chuyện người ở CHAGEE
				.format-content(class="text-sm text-Neutral-800")
					p Là hành trình thầm lặng của những con người đứng sau nghệ thuật trà hiện đại – nơi mỗi thao tác, mỗi ánh nhìn, mỗi cử chỉ đều toát lên sự chỉn chu và đam mê.
					p Là hành trình thầm lặng của những con người đứng sau nghệ thuật trà hiện đại – nơi mỗi thao tác, mỗi ánh nhìn, mỗi cử chỉ đều toát lên sự chỉn chu và đam mê.
			.col-right(class="xl:w-[calc(100%-31.25rem-6.25rem)] lg:w-[calc(100%-30rem-4.16667rem)] md:w-2/4 w-full")
				.image 
					a(href="#" class="img-ratio ratio:pt-[520_680] zoom-img rounded-lg")
						+PugImg() 